@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Fredericka+the+Great&family=Open+Sans+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --font-size-default: 18px;
  --font-size-smallest: calc(var(--font-size-default) * 0.6);
  --font-size-smaller: calc(var(--font-size-default) * 0.75);
  --font-size-small: calc(var(--font-size-default) * 0.9);
  --font-size-large: calc(var(--font-size-default) * 1.25);
  --font-size-larger: calc(var(--font-size-default) * 1.5);
  --font-size-largest: calc(var(--font-size-default) * 2);
  --padding-default: 8px;
  --padding-small: calc(var(--padding-default) / 2);
  --margin-default: 8px;
  --margin-small: calc(var(--margin-default) / 2);
  --margin-medium: calc(var(--margin-default) * 2);
  --margin-large: calc(var(--margin-default) * 3.5);
  --margin-larger: calc(var(--margin-default) * 6);
  --primary-background-color: rgba(0, 0, 0, 0.85);
  --link-color: rgb(151, 208, 255);
  --link-external: '⚡';
  --link-phone: '📱';
  --link-top-of-page: '▲';
  --link-email: '✉️';
}

/* SCSS RGB */
/* SCSS HEX */
body {
  font-size: var(--font-size-default);
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #befdf9ff;
  min-width: 300px;
  overflow-y: scroll;
  background: url(./images/bg.jpg);
}

a {
  color: #6c120cff;
}

a[target='_blank'] {
  margin-right: var(--margin-large);
}

a[target='_blank']::after {
  content: var(--link-external);
  margin-left: var(--margin-small);
  position: absolute;
  white-space: nowrap;
}

a[href^='tel:']::before {
  content: var(--link-phone);
  float: left;
  margin-right: var(--margin-small);
}

a[href^='mailto:']::before {
  content: var(--link-email);
  float: left;
  margin-right: var(--margin-small);
}

header {
  background-color: var(--primary-background-color);
  color: lightgray;
  padding: var(--padding-default) 0;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-start;
          flex-direction: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section .photo {
  width: 25%;
  min-width: 80px;
  max-width: 150px;
}

header section .photo img {
  max-width: 80%;
  margin: var(--margin-default);
  border-radius: 50%;
  margin-right: var(--padding-default);
}

header section .status {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header section .status h1 {
  font-size: var(--font-size-largest);
  letter-spacing: 5px;
  margin-bottom: var(--margin-default);
}

header section .status h1 .first {
  color: lightgray;
}

header section .status h1 .last {
  color: white;
  text-transform: uppercase;
}

header section .status .current div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header section .status .current div h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: lighter;
  font-size: var(--font-size-smaller);
  min-width: 60px;
}

header section .status .current div p {
  font-weight: bold;
  color: white;
}

header section nav ul {
  margin: var(--margin-default) var(--margin-larger) 0 var(--margin-small);
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: var(--font-size-large);
}

header section nav ul li {
  white-space: nowrap;
  margin: 0 var(--margin-default);
}

header section nav ul li a {
  padding: 0 2%;
  text-decoration: none;
  color: var(--link-color);
}

main {
  width: 90%;
  max-width: 1600px;
  margin: var(--margin-large) auto;
}

main h2 {
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: var(--margin-large);
}

main > h3 {
  margin: var(--margin-large) 0 var(--margin-small);
}

main > h3:first-child {
  margin-top: 0;
}

main p,
main address {
  line-height: 1.5em;
  margin: var(--margin-default) 0;
}

main abbr {
  cursor: pointer;
  -webkit-text-decoration: overline dashed grey;
          text-decoration: overline dashed grey;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: var(--margin-larger) 0 calc(var(--margin-larger) * 2);
}

main section > div > div {
  margin-bottom: var(--margin-larger);
}

main section h3 {
  margin-bottom: var(--margin-medium);
}

main section#aboutMe h4, main section#resume h4 {
  margin-top: var(--margin-large);
}

main section#aboutMe ul, main section#resume ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: var(--margin-default) var(--margin-larger) var(--margin-large);
}

main section#aboutMe ul li, main section#resume ul li {
  white-space: nowrap;
  min-width: 150px;
}

main section > div {
  width: 100%;
}

main section > div:first-child {
  width: 260px;
  padding-right: var(--padding-default);
  margin-right: var(--margin-larger);
}

main section div.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: var(--margin-large);
}

main section div.articles article {
  position: relative;
  min-width: 160px;
  min-height: 400px;
  width: 46%;
  border: 1px dashed black;
  border-radius: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

main section div.articles article h3 {
  text-align: center;
  background-color: var(--primary-background-color);
  width: 50%;
  font-size: var(--font-size-larger);
  min-height: 40px;
  padding: var(--padding-default);
  margin: calc(var(--margin-default) * -2) auto;
  color: white;
  border: 1px dotted white;
}

main section div.articles article p {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 50px;
  width: 100%;
  margin: 0;
  padding: var(--padding-default);
}

main section div.articles article p strong {
  display: block;
  text-transform: uppercase;
  font-family: 'Fredericka the Great', cursive;
  color: #a1d0ff;
}

main section div.articles article p.small {
  bottom: 0;
  margin: 0;
  width: 100%;
}

main section div.articles article p.small strong {
  display: block;
  font-size: 80%;
  white-space: pre;
}

main section div.articles article p.small strong:after {
  content: ': ';
}

main section div.articles article p a {
  color: var(--link-color);
}

main section div.articles article.primary {
  width: 100%;
  min-height: 600px;
}

main section div.articles article#tech-blog {
  background-image: url(./images/tech-blog.png);
}

main section div.articles article#project-1 {
  background-image: url(./images/movie.jpg);
}

main section div.articles article#employee-tracker {
  background-image: url(./images/office-characters.png);
}

main section div.articles article#weather {
  background-image: url(./images/weather.jpg);
}

main section div.articles article#workday {
  background-image: url(./images/workday.png);
}

main section div.articles article#react {
  background-image: url(./images/walk.jpg);
}

main section div.articles article#angular {
  background-image: url(./images/bg-ana.jpg);
}

main section div.articles article#api {
  background-image: url(./images/joker.png);
}

main section div.articles article:nth-child(n + 2) {
  margin-top: var(--margin-larger);
}

footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-background-color);
  color: white;
  text-align: center;
  margin-top: var(--margin-larger);
}

footer a {
  color: var(--link-color);
}

footer a.up {
  margin-right: var(--margin-medium);
}

footer a.up::after {
  content: var(--link-top-of-page);
  margin-left: var(--margin-small);
  position: absolute;
  white-space: nowrap;
}

footer a[target='_blank'] {
  margin-right: 6px;
}

footer a[target='_blank']::after {
  content: '';
  margin-left: 0;
  position: absolute;
  white-space: nowrap;
}

@media screen and (min-width: 1028px) {
  header section nav {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  header section nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: var(--font-size-large);
  }
}

@media screen and (max-width: 1028px) {
  main section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section div.articles article {
    width: 100%;
  }
  main section div.articles article p {
    width: auto;
  }
  main section div:first-child {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  main section#aboutMe ul,
  main section#resume ul {
    margin: var(--margin-small) var(--margin-large);
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: var(--font-size-smallest);
  }
  body header section nav ul {
    font-size: var(--font-size-smallest);
    margin: var(--margin-small);
  }
  body header section .status h1 {
    font-size: var(--font-size-smaller);
  }
  body header section .status .current div h2,
  body header section .status .current div p {
    font-size: var(--font-size-smallest);
    min-width: 36px;
  }
}
/*# sourceMappingURL=index.css.map */